.App {
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.homePage {
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	border: 1px solid;
	display: flex;
}
.App-logo {
	height: 50px;
	pointer-events: none;
}

.App-header {
	min-height: 5vh;
	display: flex;
	position: fixed;
	justify-content: space-between;
	color: white;
	padding: 50px 40px 40px 40px;
	width: calc(100% - 8em);
	color: #fff;
}
nav {
	display: flex;
	padding-left: 50px;
}
nav a {
	margin-left: 20px;
}
nav a img {
	width: 40px;
}
.navItem {
	font-weight: bold;
	font-size: 25px;
	color: white;
	height: 50px;
}
nav a:hover {
	color: #fa7d05;
}
#home {
	margin-left: 50%;
	margin-right: 3%;
	padding-top: 600px;

	background-size: 1900px;
}

.App-link {
	color: #61dafb;
}
#buy {
	border: 5px solid #fa7d05;
	width: 200px;
	height: 50px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	border-radius: 20px;
	font-size: 30px;
	z-index: 99999;
	color: #0b4cda;
	text-decoration: none;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
a {
	text-decoration: none;
}

#buy a {
}
#buy:hover {
	color: #fa7d05;
	background-color: beige;
}
.description {
	font-weight: bold;
	padding-left: 50px;
	padding-bottom: 30px;
}
.test {
	width: 200px;
	height: 500px;
	display: block;
	background-image: url("btoshi_letters.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.letters {
	/* background-image: url("bt.png"); */
	width: 200px;
}
#tokenomics {
	padding-top: 100px;
	height: 935px;
}
h1 {
	font-size: 60px;
	font-weight: 800;
	color: #0b4cda;
	text-shadow: -1px 0 #c5c5c5, 0 2px black, 2px 0 black, 0 -2px black;
}
h2 {
	font-size: 40px;
}
.boxes {
	display: flex;
	flex-direction: column;
	place-items: center;
}
.box {
	border: 5px solid #fa7d05;
	border-radius: 70px;
	width: 30%;
	margin: 50px;
	padding: 15px;
}
.number {
	font-size: 30px;
	font-weight: 900;
	color: #0b4cda;
	text-shadow: -1px 0 #c5c5c5, 0 1px black, 1px 0 black, 0 -1px black;
}
.box p {
	font-size: 20px;
	font-weight: bold;
}
footer {
	background-color: #e9f8ff;
	height: 200px;
	padding: 50px;
}
.social {
	display: flex;
	justify-content: center;
	margin: 30px;
}
.social img {
	padding: 30px;
	width: 40px;
}
.footerLogo {
	display: flex;
	justify-content: center;
}
.footerLetters {
	width: 200px;
	height: 650x;
	display: block;
	background-image: url("btoshi_letters.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 5px;
}
